/* MovieDetails.css */
.movie-details {
    display: flex;
    align-items: center;
    margin: 20px; /* Adjust margin as needed */
  }
  
  .movie-details-image {
    flex: 1;
  }
  
  .movie-details-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .movie-details-info {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
  }
  
  .movie-details h2 {
    font-size: 1.5rem; /* Adjust font size as needed */
  }
  
  /* Add more CSS styles as needed */
  