.topheader {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.searchForm {
    margin: auto;
    width: 50%;
}
.searchForm input {
    margin-right: 20px;
}

.genres button {
    padding: 8px;
    margin-right: 10px;
}

.genres button.selected {
   color: black;
   background-color:  rgb(186, 167, 167);
}