.app {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.counter, .searchForm, .genreSelect {
  margin-bottom: 20px;
  margin: auto;
}

button.selected {
  background-color: green;
}
